@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

.router-link-active {
  color: rgb(220 38 38);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  display: block;
  transition: 0.2s ease-in-out;
}

button {
  @apply inline-flex justify-center items-center ease-in-out duration-200;
}

p {
  @apply leading-relaxed;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 6px;
}
